#moon-background {
  position: absolute;
  margin: auto;
  z-index: -2;
  height: 90vh;
  width: 90vh;
  right: calc((100vw - 90vh) / 2);
  bottom: calc(10vh - 100px);
  transition: transform 2s;
  transform: scale(1) translate(0);
}

#moon-background.sources {
  transform: scale(3) translate(40vh, 0);
}

#moon-background.live {
  transform: scale(3) translate(-40vh, 0);
}

#moon-background.game {
  transform: scale(3) translate(0, -40vh);
}

@media (max-width: 1024px) {
  #moon-background {
    height: 200vh;
    width: 200vh;
    right: calc((200vh - 100vw) / -2);
    bottom: -130vh;
  }

  #moon-background.sources {
    transform: scale(1) translate(80vh, -80vh);
  }

  #moon-background.live {
    transform: scale(1) translate(-80vh, -80vh);
  }

  #moon-background.game {
    transform: scale(1) translate(0, -160vh);
  }
}

#surface-polygon {
  animation: spin 60s infinite steps(600);
  transform-origin: 50px 50px;
}

#inner-polygon {
  animation: spin 120s infinite steps(1200);
  transform-origin: 50px 50px;
}

#core-polygon {
  animation: spin 180s infinite steps(1800);
  transform-origin: 50px 50px;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
