#navigation-bar {
  position: absolute;
  height: 170px;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
}

#navigation-bar.active {
  transform: translate(0, 0);
  transition: transform 1.5s 1s;
}

#navigation-bar.offscreen {
  transform: translate(0, -100%);
  transition: transform 1.5s;
}

#navigation-buttons {
  margin: auto;
  display: flex;
  max-width: 100%;
}

.navigation-button {
  padding: 10px 20px 10px 20px;
  margin: 0;
  width: 150px;
  min-width: auto;
  height: 150px;
  line-height: 150px;
  cursor: pointer;
  color: #e7ecb2;
  font-size: x-large;
  font-weight: bold;
  background-color: transparent;
  border: none;
  text-decoration: none;
  display: inline-block;
  text-align: center;
}

@media (max-width: 400px) {
  .navigation-button {
    font-size: large;
  }
}

.navigation-button:hover,
.navigation-button.active {
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 6px;
}
