#navigation-bar {
  position: absolute;
  height: 170px;
  left: 0;
  right: 0;
  display: flex;
  transition: top 1.5s;
}

#navigation-bar.active {
  top: 0;
  transition-delay: 0.5s;
}

#navigation-bar.offscreen {
  top: -170px;
}

#navigation-buttons {
  margin: auto;
  display: flex;
}

.navigation-button {
  margin: 10px 20px 10px 20px;
  padding: 0;
  width: 150px;
  height: 150px;
  line-height: 150px;
  cursor: pointer;
  color: #e7ecb2;
  font-size: x-large;
  font-weight: bold;
  background-color: transparent;
  border: none;
  text-decoration: none;
  display: inline-block;
  text-align: center;
}

.navigation-button:hover,
.navigation-button.active {
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 6px;
}
