#sources-pane {
  position: absolute;
  width: 30%;
  top: 0;
  bottom: 0;
  background-color: #00000044;
  display: flex;
  flex-direction: column;
  left: -30%;
}

#sources-pane.offscreen {
  transform: translate(0);
  transition: transform 1.5s;
}

#sources-pane.active {
  transform: translate(100%);
  transition: transform 1.5s 0.5s;
}

@media (max-width: 900px) {
  #sources-pane {
    width: 100%;
    left: -100%;
  }
}

#sources-wrapper {
  overflow-y: auto;
  overflow-x: hidden;
}

#sources-list {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

#sources-back-button {
  text-align: left;
  margin: 0;
  padding-left: 40px;
  min-width: 100%;
  width: 100%;
}

.source {
  min-width: 100%;
  margin: 10px 0;
  padding: 0 40px;
  text-align: left;
  font-size: large;
  line-height: normal;
  height: 60px;
}
